@import url(https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap);
body{
    display: grid;
    justify-content: center;
    text-align: center;
    background-image: linear-gradient(#6c3c85, #1d0f25 60%);
    background-attachment: fixed;
    font-family: "Nunito";
}

/* Link Style */
a{
    color: white;
    text-decoration: none;
}

p{
    font-size: larger;
    margin-block: 8px;
    color: white;
}
.divPrincipal{
    border-radius: 5px;
    text-align: left;
    justify-items: center;
    background-color: #331f4f54;
    width: fit-content;
    min-height: 60vh;
    margin: 0 80px;
    padding: 100px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.divItem{
    font-family: "Nunito";
    border-radius: 5px;
    border: solid #593d6b 6px;
    border-bottom: solid #34204f 5px;
    border-top: solid #34204f 5px;
    background-color: #4b2b63;
    text-align: center;
    margin: 15px;
    cursor: pointer;
}
.divItem:active{
    border: solid #34204f 6px;
    border-bottom: solid #593d6b 5px;
    border-top: solid #593d6b 5px;
}
.celular{
    display: none;
}
@media (max-width: 600px) {

    .divItem{
        margin-block: 35px;
        width: 60vw;
    }
    .divPrincipal{
        width: 80vw;
        padding: 0;
        margin: 0;
    }
    .celular{
        display: grid;
    }
    .pc{
        display: none;
    }
}